{% extends 'teacherapp/base.html' %}
 {% block content %}
 {% load static %}
     <div class="about-hero">
    </div>
    <div class="bussiness-content"> 
        <h1>About Us</h1>
        <h2>Our vision</h2>
       <p>To be a leading training and researched organization in development issues
          To be the premier innovative centre which propels members to the apex of professionalism  
          In development studies in the region</p>
       
        <h2>Mission Statement</h2>
       <p>To build and strengthen capacity through knowledge and skill, through assisted-distance learning research, consultancy , and continuing professional education programmes , using the state of the art technology in the dissemination of instructional information at the lowest possible cost for the benefit of our  customers and stakeholders
Goals

To facilitate the study of theory, research, entrepreneurship and strategic management in development studies

To asses, examine and certify attainment of competence in the profession strategic  management and entrepreneurship.

To collate, analyse, and provide information for the development of high potential future leaders in the Humanitarian industry, strategic management and entrepreneurship.

To promote and undertake research which focuses on the development of a new body of knowledge in strategic management and community development.

To encourage innovation and creativity amongst the certified industry and community in order to improve institutional capacities NGOs).

To produce a 21st century breed of entrepreneurs in  the area of  humanities and community development.

To bridge the gap between training and industry so as to produce professionals who meet the requirements of the industry.

      <p>

        <h2>Our values</h2>
       <p>Transparency <br>
        Accountability <br>
       </p>
       <p>

        <h2>Method of Teaching</h2>
       <p>Courses are offered through distance leaning <br>
        Students submit assignments every two weeks<br>
        Every two weeks students receive communication from their lectures<br>
        face to face lessons are suspended due to govenment  directive<br>
        The semester is six (6) months long examination are written at the end of the semester<br>
       </p>


       
       
    </div>

{% endblock content %}