{% extends 'teacherapp/base.html' %}
 {% block content %}
 {% load static %}
   <div class="bussiness-content"> 
        <h1>ADMISSIONS TO OUR COURSES</h1>
        <h2>We are a leading institution in training business leaders and captains, <br>  We have a diverse choice for you to choose from </h2>
        </div>
        <div class="bussiness-content">
        <h3>Accounting</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
            <li>five O'levels</li>    
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
             
        </ul>

    </div>
       <div class="bussiness-content"> 
        <h3>NURSE AIDE/NURSING ASSISTANT</h3>
        <h4>CERTIFICATE</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
            <li>No qualification requred for registrtion</li>    
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>One month theory and three months practical</li>    
             
        </ul>

    </div>
     <div class="bussiness-content"> 
        <h3>Human Resouce Management </h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Business management</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Marketing</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Social Work</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>

    <div class="bussiness-content"> 
        <h3>Social Work</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Public relations</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Health And Safety Management</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Project Management</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
     <div class="bussiness-content"> 
        <h3>ECD Teacher Training</h3>
        <h4>CERTIFICATE</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
            <li>No qualification requred for registrtion</li>    
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>One month theory and three months practical</li>    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Tourism And Hospitality</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>Three O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths  six months Attachment</li>    
    
             
        </ul>

    </div>
     <div class="bussiness-content"> 
        <h3>Hotel and catering</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>Three O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Basic Computer lessons</h3>
        <h4>CERTIFICATE</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
            <li>No qualification requred for registrtion</li>    
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>EACH MODULES TAKES A WEEK TO COMPLETE</li>    
             
        </ul>

    </div>
    <div class="bussiness-content"> 
        <h3>Graphic Desining</h3>
        <h4>CERTIFICATE</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
            <li>Three O'levels</li>    
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>SIX (6) months three (3 ) months theory three (3 ) months practical< /li>    
             
        </ul>

    </div>
     <div class="bussiness-content"> 
        <h3>Programing</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>Five O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
     <div class="bussiness-content"> 
        <h3>Data Science</h3>
        <h4>ADVANCED DIPLOMA</h4>
        <h4>Entrance Requirements</h4>
        <ul> 
             <li>Five  O'levels</li>     
             
        </ul>
        <h4>Duration</h4>
        <ul> 
            <li>Eighteen (18) monnths </li>    
    
             
        </ul>

    </div>
    </div>

{% endblock content %}