{% extends 'teacherapp/base.html' %}
 {% block content %}
 {% load static %}

   <div class="bussiness-content"> 
        <h1>Our Bussiness Courses</h1>
        <h2>We are a leading institution in training bussines leades and captains, <br>  We have a divarse choice for you to choose from </h2>
        <h3>Business Management</h3>
        <h4>Course Structure</h4>
        <h4>Certificate</h4>
        <ul> 
            <li>Bookkeeping</li>  
            <li>Business Management And Administration</li>    
            <li>Economics for Bussines</li>   
            <li>Numeracy and  statistics</li>   
        </ul>

        <h4>Diploma</h4>
        <ul> 
            <li>Accounting ll</li>  
            <li>Bussiness Law</li>    
            <li>Computer Apreciation and Aplication</li>   
            <li>Cost Accounting</li>   
        </ul>
        <h4>Advanced Diploma</h4>
        <ul> 
            <li>Acconting lll</li>  
            <li>Auditing And  Taxation</li>    
            <li>Financial Management</li>   
            <li>Management Theories AND Practice</li>   
        </ul>
        <h4>Graduate Diploma</h4>
        <ul> 
            <li>Advanced Accounting Project</li>  
            <li>Capital and Investment</li>    
            <li>Corparate Governance and Ethics</li>   
            <li>Regulatory Framework</li>   
        </ul>


    </div>



 {% endblock content %}