{% extends 'teacherapp/base.html' %}
 {% block content %}
 {% load static %}
  <div class="blog-hero">
    </div>
     <div class="bussiness-content"> 
      <h2>Our fees structure</h2>
        <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Registration</td>
                <td>$5 00</td>
              </tr>
              <tr>
                <td>ID CARDS</td>
                <td>$5 00</td>
              </tr>
              <tr>
                <td>Modules</td>
                <td>$20 00</td>
              </tr>
              <tr>
                <td>T- Shirts</td>
                <td>$12 00</td>
              </tr>
              <tr>
                <td>Tuition Per Semester</td>
                <td>$180 00</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>$225 00</td>
              </tr>
            </tbody>
          </table>
       
       
       
    </div>


{% endblock content %}