{% extends 'teacherapp/base.html' %}
 {% block content %}
 {% load static %}

 <div class="bussiness-content"> 
        <h1>Our Hospitalty Courses</h1>
        <h2>We are a leading institution in training business leaders and captains, <br>  We have a diverse choice for you to choose from </h2>
        <h3>HOTEL AND CATERING</h3>
        <h4>Course Structure</h4>
        <h4>Certificate</h4>
        <ul> 
            <li>Fundamental of The Hotel & Catering</li>    
            <li>Restaurant Serveces</li>   
            <li>Front Office Operation And Administration</li> 
            <li>Food And Beverages Management</li> 
        </ul>

    </div>
 

 {% endblock content %}